@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --font-style: 'Overpass';
    --font-light-weight: 400;
    --font-bold: 700;

    --pumpkin-orange: hsl(25, 97%, 53%);
    --white: White: hsl(0, 0%, 100%);
    --cold-light-grey:  hsl(217, 12%, 63%);
    --cold-dark-grey: hsl(213, 19%, 18%);
    --charcoal-background: hsl(216, 12%, 8%);
}
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  html {
    height: 100%;
    background-color: var(--charcoal-background);
    display: grid;
    place-content: center;

  }
.rating-card {
   background-color: var(--cold-dark-grey);
   margin: 1.5rem;
   padding: 1.5rem;
   border-radius: 0.5rem;
   font-family: var(--font-style);
   font-size: 0.938rem;
   color: rgb(229, 226, 226);
   font-weight: var(--font-bold);
   opacity: 0.7;
}
article * {
    margin: 0.375rem;
}
.rating-card__group-buttons {
    display: flex;
    gap: 1rem;
    margin: 0;
}
.rating-card__button--circle {
    min-height: 40px;
    min-width: 40px;
    background-color:  hsl(212, 13%, 20%);
    border-color: transparent;
    border-radius: 1.5rem;
    padding: 10px;
    font-style: inherit;

}
.rating-card__title {
    color: white;
    
}
.rating-card__description {
    font-weight: var(--font-light-weight);
}
.thankyou-card {
    display: none;
}
