@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --font-style: 'Overpass';
    --font-light-weight: 400;
    --font-bold: 700;

    --pumpkin-orange: hsl(25, 100%, 50%);
    --white: White: hsl(0, 0%, 100%);
    --cold-light-grey:  hsl(214, 16%, 20%);
    --cold-dark-grey: hsl(212, 31%, 12%);
    --charcoal-background: hsl(216, 12%, 8%);
}
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  html {
    height: 100%;
    background-color: var(--charcoal-background);
    display: grid;
    place-content: center;

  }
.rating-card {
   background-color: var(--cold-dark-grey);
   margin: 1.5rem auto;
   padding: 1rem;
   border-radius: 1rem;
   font-family: var(--font-style);
   font-size: 0.938rem;
   color: rgba(212, 205, 205, 0.63);
   font-weight: var(--font-bold);
   opacity: 0.7;
   display: grid;
   max-width: 330px;
}
article * {
  margin: 0.375rem;
}
.rating-card__title {
  color: rgb(255, 255, 255);
  opacity: 1;
  font-size: 1.75rem;
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.3);
}
.rating-card__button--circle[data-icon="star"]::before{
  content: "";
  width: 17px;
  height: 16px;
  background-image: url("images/icon-star.svg");
  display: inline-block;
  transform: translate(-0%, 16%)
 }
.rating-card__group-buttons {
    margin: 0;
    margin-bottom: .5rem;
    display: flex;
    align-items: center;
    justify-content: baseline;
    font-style: inherit;
    color: inherit;
    gap: 0.3rem;
    font-size: 0.938rem;
    color: rgb(246, 243, 243);
    font-weight: var(--font-bold);
    opacity: 0.7;

}
.rating-card__button--circle {
    min-height: 36px;
    min-width: 44px;
    background-color:  hsl(215, 9%, 26%);
    border-color: transparent;
    border-radius: 1.5rem;
    padding: 8.5px;
    overflow: hidden;
    font-size: 0.938rem;
    color: rgb(246, 243, 243);
    font-weight: var(--font-bold);
    opacity: 1;

}  

.rating-card__description {
    font-weight: var(--font-light-weight);
}
.thankyou-card {
    display: none;
}
.rating-card__submit-button {
  background-color: var(--pumpkin-orange);
  border-color: transparent;
  font-style: inherit;
  overflow: hidden;
  padding: 0.625rem;
  border-radius: 20px;
  font-size: 0.925rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: rgb(10, 14, 22);
}
.rating-card__button--circle::after{
  content: '';
  cursor: pointer;
}
.rating-card__button--circle.active::after{
  content: '';
  background-color: white;
  color:  rgb(10, 14, 22);
}
@media (min-width:500px) {
  .rating-card {
    background: linear-gradient(to bottom, var(--cold-dark-grey), hsl(214, 31%, 10%) );
    margin: 1.5rem auto;
    padding: 2.5rem;
    border-radius: 1rem;
    font-family: var(--font-style);
    font-size: 0.938rem;
    color: rgba(246, 243, 243, 0.63);
    font-weight: var(--font-bold);
    opacity: 0.7;
    display: grid;
    max-width: 460px;
 }
 article * {
  margin: 0.5rem;
}
 .rating-card__group-buttons {
  margin: 0;
  margin-bottom: .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: inherit;
  color: inherit;
  gap: 1.2rem;
  font-size: 0.938rem;
  color: rgb(246, 243, 243);
  font-weight: var(--font-bold);
  opacity: 0.7;
}
}

